DEBUG=0
SECRET_KEY=django-insecure-tc1_yojb^c8@bs1%!fw*+spv#ht%ma%g^9*z^bkhe2^3vl6r&y
DB_NAME=temarilink
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
